{% extends 'base.html.twig' %}

{% block body %}
    <h1>List of users!</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Email</th>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block javascripts %}

{% endblock %}
