{% extends 'base.html.twig' %}

{% block body %}
	<section class="color--purple">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h2>Why</h2>
					<div>
						{{ organisation.about|raw }}
					</div>
					</div>
			</div>
		</div>
	</section>

	<section class="gray color--gray">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h1>Why</h1>
					<h1><i class="fa fa-thumbs-up"></i> <i class="fa fa-check"></i> <i class="fa fa-star"></i> <i class="fa fa-trophy"></i></h1>
			</div>
		</div>
	</section>

	<section class="white color--purple">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h2>Mission</h2>
					<div>
						{{ organisation.mission }}
					</div>
					<h2>Vision</h2>
					<div>
						{{ organisation.vision }}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
{% endblock %}

