{% extends 'admin/base.html.twig' %}

{% block body %}
    <h1 class="page-header">Organisation</h1>
    <div class="admin-input-wrap">
        {{ include('_organisation.html.twig') }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

