{% extends 'admin/base.html.twig' %}

{% block body %}
  <h1 class="page-header">Organisation</h1>
  <div class="row">
    {{ include('forms/_organisation.html.twig') }}
  </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>
    tinymce.init({
      mode: "exact",
      selector: "#organisation_about",
      height: 600
    });
    tinymce.init({
      mode: "exact",
      selector: "#organisation_mission",
      height: 300
    });
    tinymce.init({
      mode: "exact",
      selector: "#organisation_vision",
      height: 300
    });
    tinymce.init({
      mode: "exact",
      selector: "#organisation_address",
      height: 150
    });
  </script>
{% endblock %}

