{% extends 'admin/base.html.twig' %}

{% block body %}
 <h1 class="page-header">New Program</h1>
    {{ include('forms/_program.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>
    tinymce.init({
      mode : "exact",
      selector :"#program_description",
      height:500
    });
  </script>
{% endblock %}