{% extends 'admin/base.html.twig' %}

{% block body %}
    <h1 class="page-header">Programs</h1>
    <div><a href="{{ path('admin_program_new') }}"><button class="btn btn-success btn-sm"><i class="fa fa-plus"></i> New</button></a></div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

