<div class="row">
  <div class="col-xs-12 text-center">
    <h3 class="margin--top-none margin--bot-l">Program details?</h3>
    {{ form_row(form.arrivalDate, {'value':participation.arrivalDate|date("Y-m-d")}) }}
    {{ form_row(form.duration, {'value':participation.duration}) }}

    <input name="participationId" type="number" value="{{ participation.id }}" readonly style="display: none;" />

    <div class="row margin--top">
      <button class="btn btn-primary" type="submit">
        Update <i class="fa fa-pencil"></i>
      </button>
    </div>
  </div>
</div>