<div class="row">
  {{ form_start(form) }}
  <div class="well well-lg step-wrap">
    <h3 class="margin--top-none margin--bot-l">Program details?</h3>
    {{ form_row(form.arrivalDate) }}
    {{ form_row(form.duration) }}

    <div class="row margin--top">
      <button class="btn btn-success btn-lg btn-block" type="submit">
        Sign up <i class="fa fa-pencil-square"></i>
      </button>
    </div>
  </div>
  {{ form_end(form) }}
</div>